* {
	margin: 0;
	padding: 0;
	/* With these codes padding and border does not increase it's width and gives intuitive style.*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 40px;
	font-family: sans-serif;
	font-size: 1.2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.form-heading {  
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px;
}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}


.main-div {
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 360px;
  padding: 50px 70px 70px 71px;
	background: linear-gradient(#FEE96E, #FFF7D3);
}

.login-form .form-control {
    background: #FFF7D3 none repeat scroll 0 0;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 49%;
}
.btn-primary {
   
	font: 700 2em;
	background: #FFF7D3;
	color: #000;
	font-size: 1em;
	box-shadow: 1px 1px 5px #CBCBCB;
	width: 106px;
	border-radius:0;
}


.container {
/*
	display: flex;
	flex-wrap: wrap;
*/
	padding: 20px;
	align-self: flex-start;

}

.user-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 360px;
	border-radius: 20px;
	border: 1px solid lightgray; 
	margin: 10px;
/*	background-color: #ededed;*/
}


.whiteboard {
	width: 70%;
	order: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	justify-content: center;
}

.sidebar {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	min-width: 360px;
	background: linear-gradient(#FEE96E, #FFF7D3);
	margin-top: 40px;
	order: 1;
	box-shadow: 14px 14px 14px -15px black;
	
}


.footer-tools {
	display: flex;
	flex-wrap: row wrap;
	position: fixed;
	bottom: 10px;
	left: 50px;
	border: 1px solid #D3A38F;
	border-radius: 20px;
	background: none;
	height: 80px;
	width: 10%;
}

.postit {
	width: 40vw;
	max-width: 35vh;
	height: 40vw;
	max-height: 35vh;
	margin: 10px;
	padding: 10px;
	border-bottom-right-radius: 150px 10px;
	transform: rotate(-2deg);
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 3px 3px 3px -4px black;
	/* font-family: 'Shadows Into Light', cursive; */
	font-family: 'Coming Soon', cursive;
}

.postit p {
display: block;
  word-wrap: break-word;
  max-height: 3.6em;
  line-height: 1.8em;	
}

.postit h2 {
display: block;
  word-wrap: break-word;
  max-height: 3.6em;
  line-height: 1.8em;	
}

.postit button {
	position: absolute;
	background: none;
	color: black;
	margin: 5px;
	top: 0;
	right: 0;
}

.yellow {
	background: linear-gradient(145deg, #FEE96E, #FFF7D3);
}
.blue {
	background: linear-gradient(145deg, #09BACC, #08D3F6);
}
.green {
	background: linear-gradient(145deg, #9AC64E, #B0E95A);
}

.postit:nth-child(1) {
	transform: rotate(-3deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(2) {
	transform: rotate(2deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(3) {
	transform: rotate(-1deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(4) {
	transform: rotate(2deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(5) {
	transform: rotate(-1deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(6) {
	transform: rotate(-4deg);
	box-shadow: 4px 4px 4px -5px black;
}
h1 {
	font-size: 2em;
	font-family: 'Coming Soon', cursive;
}
h2 {
	font-size: 1.4em;
	text-align: center;
}
h3 {
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 15px;
}
p {
	font-size: 0.8em;
}

strong {
	margin-top: 30px;
}
.name {
	position: absolute;
	margin: 10px;
	bottom: 0;
	right: 0;
	font-style: oblique;
	font-size: 1em;
}
time {
	position: absolute;
	margin: 10px;
	bottom: 0;
	left: 0;
	font-style: oblique;
	font-size: 0.8rem;
}
li {
	cursor: move;
}
/* Styling side-bar */

input {
	margin-top: 10px;
	font-family: 'Coming Soon', cursive;
}


.textfield-large {
	font-size: 0.9em;
	margin: 10px 0;
	padding: 20px;
	max-height: 400px;
	width: 100%;
	border-style: hidden;
	background: #FFF7D3;
	font-family: 'Coming Soon', cursive;
}
.textfield-small {
	font-size: 0.9em;
	margin: 10px 0;
	padding: 20px;
	height: 10px;
	max-width: 400px;
	width: 100%;
	border-style: hidden;
	background: #FFF7D3;
}
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;	
  width: 12px;
  height: 12px;

  border: 1px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  

  position: relative;
  top: 0px;
}

.radio:checked {
  border: 6px solid black;
}
button {
	margin-top: 20px;
	padding: 0.5em 1em; 
	border: none;
	background: none;
}

.submit-button {	
	font: 700 2em;
	background: #FFF7D3;
	font-size: 1em;
	box-shadow: 1px 1px 5px #CBCBCB;
	width: 48%;
  
}
.reset-button {
	font-size: 700 2em;
	background: #FFF7D3;
	color: #141414;
	border: none;
	box-shadow: 1px 1px 5px #CBCBCB;
	width: 48%;
}
.logout_button {
	font: 700 2em;
	background: #FFF7D3;
	font-size: 1em;
	box-shadow: 1px 1px 5px #CBCBCB;
	color: #black;
	border: none;
	display: block;
	margin: 0 auto;
	width: 99%;
}


/*MEDIA queries*/

@media only screen and (max-width: 800px) {
body {
	margin: 10px;
	justify-content: space-between;
}

.whiteboard {
	width: 55%;
}

.sidebar {
	width: 45%;
	min-width: 360px;
}

.postit {
	min-width: 25vh;
	max-height: auto;
	margin: 10px;
}
.postit p {
	font-size: 0.8em;
	margin-top: 0;
}
.postit h2 {
	font-size: 0.8em;
	margin: 0;
}
.sidebar h1 {
	font-size: 1.2em;
}
.textfield-large {
	width: 90%;
}
.textfield-small {
	width: 90%;
}

trash {
	width: 15px;
	height: auto;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0.4;
}

/* Small screens */
@media all and (max-width: 500px) {
body {
	/* On small screens, we are no longer using row direction but column */
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}

.whiteboard {
	order: 0;
	width: 100%;
	min-width: 300px;
}

.sidebar {
		order: -1;
			justify-content: flex-start;
			width:100%;
			max-width: 300px;
}

.sidebar h3 {
		font-size: 0.9em;
		margin-top: 0;
}

.postit h2 {
	font-size: 0.7em;
	margin: 0;
}

.postit p {
	font-size: 0.6em;
	margin: 0;
}

time {
		font-size: 0.6em;
			margin: 0;
}


}
